@import '~antd/dist/antd.css';

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image1 {
  background: url(./assets/m1image.JPG);
  background-size: auto;
  height: 430px;
  width: 450px;
}

.image2 {
  background: url(./assets/m2image.PNG);
  background-size: auto;
  height: 430px;
  width: 450px;
}



.landing-page-background {
  background: url(./assets/landingsplash.jpg);
  background-size: cover;
  height: 100%;
}

.landing-page-intro-card {
  text-align: left;
  width: 30%;
  margin-left: 5%;
  top: 25%;
  max-height: 70%;
}

.login-page-background {
  background-color: #c9fcc7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.login-centered {
  margin-left:10vh;
  margin-right:10vh;
  margin-top: 30vh;
  justify-content: center;
  text-align: center;
}

.login-left {
  background-color: #fff;
  height: 100%;
  color: black;
}

.login-right-background {
  background: url(./assets/creditcards.jpg);
  background-size: cover;
  height: 100%;
}

.login-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.box-shadow {
  -webkit-box-shadow: 4px 7px 10px 5px rgba(77,76,77,0.33);
  -moz-box-shadow: 4px 7px 10px 5px rgba(77,76,77,0.33);
  box-shadow: 4px 7px 10px 5px rgba(77,76,77,0.33);
}
